In [56]:
from bs4 import BeautifulSoup
from datetime import date, timedelta
from os.path import exists
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import pandas as pd

In [2]:
today = date.today()
oneday = timedelta(days=1)
print(today)

2023-06-11

In [16]:
analyzer = SentimentIntensityAnalyzer()

In [18]:
searchterm = input().casefold()

 apple

In [ ]:
day = today+oneday
day_score_list = list()
search_score_list = list()
score_df = pd.DataFrame(columns = ['Overall','Term','Date']).set_index('Date')
for i in range(3*365):    
    day = day - oneday
    fileurl = 'wsj/'+str(day)+'.html'
    if exists(fileurl):
        with open(fileurl, 'rb') as f:
            html = f.read()
        soup = BeautifulSoup(html, 'html.parser')
        artlist = soup.find_all('span', class_='WSJTheme--headlineText--He1ANr9C')
        day_score = 0
        search_score = 0
        num_matches = 0
        for art in artlist:
            score = analyzer.polarity_scores(art.text)['compound']
            day_score += score
            if searchterm in art.text.casefold():
                search_score += score
                num_matches += 1
            #print(art.text, analyzer.polarity_scores(art.text)['compound'])
        if artlist:
            day_score/=len(artlist)
        if num_matches != 0:
            search_score/=num_matches
        score_df.loc[pd.to_datetime(day)] = [day_score, search_score]
    else:
        print("Out of bounds")

In [50]:
score_df

             Overall   Term
Date
2023-06-11 -0.102200  0.000
2023-06-10 -0.024642  0.000
2023-06-09 -0.055984  0.000
2023-06-08 -0.005754  0.000
2023-06-07 -0.013828  0.000
2023-06-06 -0.019560  0.125
2023-06-05  0.032438  0.250
2023-06-04 -0.076272 -0.296
2023-06-03  0.081361  0.000
2023-06-02 -0.032796  0.000

In [24]:
search_score

0.0

In [25]:
str(today)

'2023-06-11'

In [26]:
type(today)

datetime.date

In [41]:
df = pd.DataFrame(columns = ['Dates'], index = ['date'])
df['Dates'] = today

In [42]:
df

           Dates
date  2023-06-11

In [43]:
df['Dates']

date    2023-06-11
Name: Dates, dtype: object